h1{

	text-decoration: underline;
	color: #444;
}


li{
	font-family: lato;
	font-size: 16px;
}

.showinData{
	display: none;
}

.pelicula-title{
	cursor: pointer;


}

.pelicula-title:hover{
	font-weight: bold;
	text-decoration: underline;
	

}

.clicked{
	font-size:20px;
	font-family:arial;
	color: orange; 
}

.valid{

color: #AD1510;
font-weight: bold;
}